In [1]:
import pandas as pd
import numpy as np
from statsmodels.genmod.generalized_linear_model import GLM
from statsmodels.genmod.families import Binomial
from statsmodels.genmod.families.links import logit
from statsmodels.regression.linear_model import WLS

data = {
    'X': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
    'Y': ['1', '1', '1', '2', '2', '2', '3', '3', '3'],
    'Ri': ['1', '0', '0', '1', '1', '1', '1', '1', '0'],
}
df = pd.DataFrame(data)
df['X'] = df['X'].astype('category').cat.codes
df['Y'] = df['Y'].astype(int)
df['Ri'] = df['Ri'].astype(int)

In [2]:
log_reg_model = GLM(df['Ri'], df[['X', 'Y']], family=Binomial(link=logit()))
log_reg_results = log_reg_model.fit()

df['pi'] = log_reg_results.predict(df[['X', 'Y']])

/Users/ilovemarijuana/miniconda3/envs/diss/lib/python3.11/site-packages/statsmodels/genmod/families/links.py:13: FutureWarning: The logit link alias is deprecated. Use Logit instead. The logit link alias will be removed after the 0.15.0 release.
  warnings.warn(

In [3]:
wls_model = WLS(df.loc[df['Ri'] == 1, 'Y'], np.ones(sum(df['Ri'] == 1)), weights=1/df.loc[df['Ri'] == 1, 'pi'])
wls_results = wls_model.fit()

l_IPW = wls_results.params[0]

In [4]:
l_IPW

2.0441904727783653

In [5]:
df

   X  Y  Ri        pi
0  0  1   1  0.492381
1  0  1   0  0.492381
2  0  1   0  0.492381
3  1  2   1  0.681904
4  1  2   1  0.681904
5  1  2   1  0.681904
6  2  3   1  0.825714
7  2  3   1  0.825714
8  2  3   0  0.825714