In [10]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [11]:
np.random.seed(0)

In [12]:
n = 100

In [13]:
df = pd.DataFrame({
    'Yi': np.random.normal(0, 1, n),
    'Ri': np.random.choice([0, 1], n),
})

In [14]:
(df['Ri']==0).sum()

41

In [6]:
df['Yi'] = df['Xi'] * df['Ri']

In [7]:
df

          Xi  Ri        Yi
0   1.764052   0  0.000000
1   0.400157   0  0.000000
2   0.978738   1  0.978738
3   2.240893   1  2.240893
4   1.867558   1  1.867558
..       ...  ..       ...
95  0.706573   1  0.706573
96  0.010500   0  0.000000
97  1.785870   1  1.785870
98  0.126912   0  0.000000
99  0.401989   0  0.000000

[100 rows x 3 columns]

In [8]:
df.loc[df['Ri'] == 0, 'Yi'] = np.nan

In [9]:
df

          Xi  Ri        Yi
0   1.764052   0       NaN
1   0.400157   0       NaN
2   0.978738   1  0.978738
3   2.240893   1  2.240893
4   1.867558   1  1.867558
..       ...  ..       ...
95  0.706573   1  0.706573
96  0.010500   0       NaN
97  1.785870   1  1.785870
98  0.126912   0       NaN
99  0.401989   0       NaN

[100 rows x 3 columns]